In [43]:
# import libraries & read csv file
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

vehicles = pd.read_csv('../vehicles_us.csv')

In [44]:
# print a sample of the dataset to find any obvious issues
vehicles.sample(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
42157,22995,2013.0,ford f150,like new,6.0,gas,107678.0,automatic,SUV,white,1.0,2019-01-06,68
473,38000,2016.0,ford f250,excellent,NaN,diesel,88100.0,automatic,truck,silver,1.0,2018-08-20,6
21427,4800,2010.0,honda accord,good,4.0,gas,NaN,automatic,sedan,grey,NaN,2019-01-01,14
7713,24000,NaN,toyota tacoma,good,6.0,gas,119000.0,automatic,pickup,brown,1.0,2018-07-08,4
16047,15500,2011.0,ford f-150,excellent,8.0,gas,156000.0,automatic,truck,white,1.0,2018-07-09,17
8172,11700,2008.0,toyota 4runner,excellent,6.0,gas,147301.0,automatic,SUV,silver,1.0,2018-11-14,24
39652,7000,2016.0,ford focus,salvage,3.0,gas,28000.0,automatic,sedan,white,NaN,2018-05-18,96
5709,10995,2011.0,subaru forester,excellent,4.0,gas,NaN,automatic,SUV,white,1.0,2019-04-02,27
33669,8500,2004.0,chevrolet silverado 2500hd,excellent,8.0,diesel,294223.0,automatic,pickup,white,NaN,2018-12-08,21
13531,13490,2012.0,ford econoline,good,8.0,gas,NaN,automatic,truck,NaN,NaN,2018-08-09,70

In [45]:
# check for duplicates
vehicles.duplicated().sum()

0

In [53]:
# check for missing values
vehicles.isna().sum()

# replace missing values in 'year', 'cylinders', 'odometer', & 'color' with 'Unknown'
vehicles[['year', 'cylinders', 'odometer', 'color']].fillna('Unknown', inplace=True)

# check for reassurance
vehicles.head()

C:\Users\14193\AppData\Local\Temp\ipykernel_16664\1268193249.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  vehicles[['year', 'cylinders', 'odometer', 'color']].fillna('Unknown', inplace=True)
C:\Users\14193\AppData\Local\Temp\ipykernel_16664\1268193249.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles[['year', 'cylinders', 'odometer', 'color']].fillna('Unknown', inplace=True)

,price,year,model,condition,cylinders,fuel,odometer,transmission,body_style,color,4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,Unknown,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [ ]:
# rename necessary columns
vehicles = vehicles.rename(columns={'model_year':'year',
                         'type':'body_style',
                         'paint_color':'color',
                         'is_4wd': '4wd'})

# print the column names for reassurance
vehicles.columns